<footer class="footer" style="padding: 2rem 1.5rem;background-color: #f0f0f0;">
  <div class="columns">
    <div class="column tab">
      <p>&copy; 2020 Airrbnb, Inc. All Rights Reserved</p>
      <ul class="mt-2">
        <li><a href="#" class="link">Privacy</a></li>
        <li><a href="#" class="link">Terms</a></li>
        <li><a href="https://www.github.com/deepakMaj" class="link">About</a></li>
      </ul>
    </div>
    <div class="column tabtwo">
      <p class="buttons">
        <button class="button" style="border-radius: 25px">
          <span class="icon is-large">
            <i class="fa fa-facebook-f"></i>
          </span>
        </button>
        <button class="button" style="border-radius: 25px">
          <span class="icon">
            <i class="fa fa-github"></i>
          </span>
        </button>
        <button class="button" style="border-radius: 25px">
          <span class="icon">
            <i class="fa fa-instagram"></i>
          </span>
        </button>
      </p>
    </div>
  </div>
</footer>
