<% if @room.errors.any? %>
  <div id="error_explanation" class="notification is-danger is-light">
    <ul style="margin-left: 3vh">
      <% @room.errors.full_messages.each do |message| %>
        <li style="display: block !important;"><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<%= javascript_pack_tag 'message' %>
<div class="columns is-mobile">
  <div class="column is-three-fifths-mobile is-two-thirds-desktop is-three-fifths-fullhd">
    <div class="wrap mb-5">
     <h1 class="is-size-2">Let's get started listing your place</h1>
      <%= render 'form' %>
    </div>
  </div>
  <div class="column image">
    <%= image_tag 'image4.png', style: "float:right; height: 100%;"%>
  </div>
</div>