#charges{
  font-size: 20px;
}

#total_cal, #total_price{
  float: right;
}

#total_price{
  font-weight: bold;
}

.review-box{
  width: max-content;
  height: 55vh;
  padding: 1.5rem !important;
}

.payment-container{
  margin-top: 20vh !important;
}

.wrapper{
  margin-bottom: 20vh !important;
}

.date{
  font-size: 1rem;
  font-weight: 900;
}

.trip-box{
  width: 80% !important;
  padding: 3vh !important;
  margin-top: 2vh !important;
  margin-left: 6% !important; 
}

.trip_img{
  width: 60vh !important;
  height: 35vh !important;
  border-radius: 1vh !important;
}

.trip-wrap{
  margin-top: 16vh !important;
}

.tittle{
  margin-left: 6%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
}

.small-box{
  background-color: rgb(242, 242, 242);
  padding: 1.5vh 2.5vh;
  border-radius: 0.8vh;
  display: grid !important;
  text-transform: uppercase; 
}

.cancel{
  width: 20% !important;
  display: block !important;
  margin-top: 1.5rem !important;
  font-weight: 600 !important;
}

.no-trip-img{
  width: 100% !important;
  margin-top: 3vh !important;
}

.collect{
  margin-left: 6%;
  margin-right: 6%;
}

p{
  font-size: 18px;
}