<% flash.each do |key, value| %>
  <% if key == 'notice' %>
    <p class="notification is-warning is-light has-text-weight-semibold" id="notice">
      <%= value %>
    </p>
    <script type="text/javascript">
      setTimeout(() => {
        $('#notice').fadeOut('fast');
      }, 3000);
      
    </script>
  <% end %>
  <% if key == 'alert' %>
    <p class="notification is-danger is-light has-text-weight-semibold" id="alert">
      <%= value %>
    </p>
    <script type="text/javascript">
      setTimeout(() => {
        $('#alert').fadeOut('fast');
      }, 3000);
    </script>
  <% end %>
<% end %>  